<h3 class="text-center">올레네이처 상품정보 검색</h3>
<!-- START CUSTOM TABS -->
<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li ><a href="#tab_1" data-toggle="tab">By TXID</a></li>
                <li class="active"><a href="#tab_2" data-toggle="tab">By Category</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane " id="tab_1">
                    <div ng-include="'/templates/ollefinder_txid.html'" ></div>
                </div><!-- /.tab-pane -->
                <div class="tab-pane active" id="tab_2">
                    <div ng-include="'/templates/ollefinder_date.html'" ></div>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
    </div><!-- /.col -->
</div> <!-- /.row -->
<!-- END CUSTOM TABS -->