<div class="box" ng-if="isShowJson==false">
    <div class="box-header">
        <div class="col-md-4">
            <div style="display: inline-block">
                <label>날짜범위 :</label>
            </div>
            <div style="display: inline-block">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="reservation" ng-model="g_G.olle_finderData.searchDate">
                </div><!-- /.input group -->
            </div>
        </div><!-- /.form group -->
        <div class="col-md-4">
            <div class="input-group">
                <div style="display: inline-block">
                    <label>카테고리 :</label>
                </div>
                <div style="display: inline-block">
                    <select ng-model="g_G.olle_finderData.categoryCurr">
                        <option ng-repeat="val in g_G.olle_finderData.EOlleDataType">{{val}}</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <div style="display: inline-block">
                    <label>검색옵션 :</label>
                </div>
                <div style="display: inline-block">
                    <select ng-model="g_G.olle_finderData.searchOption1" ng-change="update_searchOption1()">
                        <option selected="">--------</option>
                        <option ng-repeat="val in getCategoryByEOlleDataType()">{{val}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control with-danger-addon" placeholder="Search for..." ng-model="g_G.olle_finderData.searchString">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" ng-click="eOLLE_FIND()">Go!</button>
                </span>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div ng-if="g_G.olle_finderData.eOLLE_FIND==null">data not found</div>
        <table ng-if="g_G.olle_finderData.eOLLE_FIND" id="olleDataTable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>record id</th>
                    <th>createAt</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in g_G.olle_finderData.eOLLE_FIND" ng-init=" $last && updated_eOLLE_FIND()" ng-click="click_olleDataTable(d)">
                    <td ng-if="d.txid"><span class="label label-success">{{d._id}}</span></td>
                    <td ng-if="d.txid==null"><span class="label label-warning">{{d._id}}</span></td>
                    <td>{{date2string(d.createdAt)}}</td>
                    <td>{{toDataString(d.data)}}</td>
                </tr>
            </tbody>
            <tfoot ng-if="0">
                <tr>
                    <th>record id</th>
                    <th>createAt</th>
                    <th>Data</th>
                </tr>
            </tfoot>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
<div class="box box-solid" ng-if="isShowJson">
    <div class="box-header with-border" ng-click="hideJson()">
        <button class="btn btn-danger" type="button" ng-click="hideJson()">되돌아 가기</button>
    </div><!-- /.box-header -->
    <div class="box-body">
        <pre>{{g_G.olle_finderData.json_data_eOLLE_FIND | json}}</pre>
        <dl class="dl-horizontal">
            <div>
                <dt>Transaction Id</dt>
                <dd><a ng-click="showTx(g_G.olle_finderData.json_data_eOLLE_FIND.txid)">{{getShortdString(g_G.olle_finderData.json_data_eOLLE_FIND.txid)}}</a></dd>
            </div>
        </dl>
        <pre ng-if="g_G.olle_finderData.olleTransaction">{{g_G.olle_finderData.olleTransaction | json}}</pre>
        <div ng-if="g_G.olle_finderData.olleBlockHash">
            <dl class="dl-horizontal">
                <div>
                    <dt>Block Hash</dt>
                    <dd><a ng-click="showBlock(g_G.olle_finderData.olleBlockHash)">{{getShortdString(g_G.olle_finderData.json_data_eOLLE_FIND.txid)}}</a></dd>
                </div>
            </dl>
            <pre ng-if="g_G.olle_finderData.olleBlock">{{g_G.olle_finderData.olleBlock | json}}</pre>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->
<script>
//Date range picker
$('#reservation').daterangepicker({ timePicker: false, timePickerIncrement: 30, format: 'YYYY-MM-DD' });
</script>